#python
*.class


*.war
*.ear
*.zip
*.tar.gz
*.rar
#maven ignore
target/
build/


.settings/
.project
.classpatch

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws
*.xml
# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

Pipfile.lock

**/__pycache__
.pydevproject
